body
	background gray
	font-size 16px

.agenda
	.book_now
		margin-top 13em
		h2, p
			color white
		.check
			background white
			font-size .8em
			padding 2em
			.month
				font-size .7em
			.number
				font-size 3em
		.promotion_code
			background blue
			font-size .8em
			padding 3.4em
			text-align center
			span
				color white
				margin 1em
			.clickHere
				color black
			.book_availability
				background black
				color white
				display inline-block
				margin-top .1em
				padding 1em 1.6em
				text-decoration none
				text-align justify
	.copy
		color white
		font-size 1.1em
		margin-top 5em
		padding-right 5em
		text-align center
		.book_now
			background #DD4F24 
			color white
			font-size .8em
			padding .7em 2em
			margin 2em
			text-decoration none
				
.headerContact
	float right
	span
		color white
		float right
		font-size .8em
		margin 1em .5em
	.en
		border 1px solid blue
		border-radius 2em
		margin-right -4em
		margin-top .5em
		padding .5em 3em .5em .5em
		&:before
			border-bottom 4px solid transparent
			border-right 5px solid blue
			border-top 4px solid transparent
			content ""
			display inline-block
			margin-right .2em
	.globalacces
		color #DD4F24
		&:after
			border-left 4px solid transparent
			border-right 4px solid transparent
			border-top 5px solid blue
			content ""
			display inline-block 
	.login
		border-left 1px solid blue
		padding-left 1em

.headerNavigate
	position absolute
	margin 5em 0em 0em 11em
	ul
		list-style none
		margin 1em 2em
		li
			display inline-block
			margin 0 1em 0 0
			vertical-align top
			a
				color #CACACA
				padding-bottom .5em
				text-decoration none
				&:hover
					border-bottom 3px solid blue
					color white
					

.image
	display inline-flex
	margin 2em
	span
		font-size .6em
		margin 2em .5em
	.logo
		img 
			background black
			width 45px
	.official
		color blue
	.officialLine
		border-bottom 1px solid white
		font-size 1em
		margin-right -.1em
